<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }} questions </title>
</head>
<body>
    <h1> {{ title}} questions </h1>
    {% for question in questions %}
     <p>
     {{ question.title }}
     <a href="{{ question.get_url }}"> {{ question.id }}</a> 
     </p>
    {% endfor %} 
    <nav>
    <ul class="pagination">
    {% for p in paginator.page_range %}
       {% if  p == page.number %}
       <li class="active">
       {% else %}
       <li>
       {% endif %}
         <a href="{{ paginator.baseurl }}{{ p }}">
         {{ p }} </a>
       </li> 
    {% endfor %}
    </ul>
    </nav>

</body>
</html>

